<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xiyuan.xylibsdemo">

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.AllActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.XYLogActivity"
            android:label="@string/title_activity_xylog" />
        <activity
            android:name=".activity.PermissionActivity"
            android:label="@string/title_activity_permission" />
        <activity
            android:name=".activity.ImgLoadActivity"
            android:label="@string/title_activity_img_load" />
        <activity
            android:name=".activity.HttpActivity"
            android:label="@string/title_activity_http" />
        <activity
            android:name=".activity.LoadingAnimActivity"
            android:label="@string/title_activity_loading_anim" />
        <activity
            android:name=".activity.PreferenceActivity"
            android:label="@string/title_activity_preference" />
        <activity
            android:name=".activity.SignatureActivity"
            android:label="@string/title_activity_signature" />
        <activity
            android:name=".activity.UpdateActivity"
            android:label="@string/title_activity_update" />
        <activity
            android:name=".activity.DialogActivity"
            android:label="@string/title_activity_dialog"></activity>
    </application>

</manifest>